[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apache-airflow = {extras = ["mysql"], version = "==1.10.15"}
sqlalchemy = {version = ">=1.3.18, <1.4"}

[requires]
python_version = "3.6"
